/* Reset: makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset: remove default spacing */
/* Reset: force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  text-decoration: none;
  list-style-type: none;
}

/* Reset: responsive images */
img {
  display: block;
  max-width: 100%;
}

/* Variables */
:root {
  --primary-font-family: "Roboto", sans-serif;
  --primary-font-weight-regular: 400;
  --primary-background-color: rgb(88, 114, 145);
  --secondary-background-color: rgb(255, 255, 255);
  --primary-text-color: rgb(255, 255, 255);
  --secondary-text-color: rgb(0, 0, 0);
  --nav-border-color: rgb(242, 242, 242);
  --nav-shadow-color: rgb(220, 220, 220);
  --button-background-color: rgb(91, 46, 72);
  --button-shadow-color: rgba(0, 0, 0, 0.25);
}

/* Fonts */
body {
  font-family: var(--primary-font-family);
  font-size: 2.25rem;
  font-weight: var(--primary-font-weight-regular);
  line-height: 1.5;
  color: var(--primary-text-color);
}

a {
  font-size: 1.5rem;
  color: var(--secondary-text-color);
}

button {
  font-size: 1.88rem;
  color: var(--primary-text-color);
}

/* Header */
header {
  max-width: 100%;
  height: 100vh;
  background-image: url(images/get-coding.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

nav {
  width: 97%;
  margin: auto;
  padding-top: 2em;
}

.flex-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--secondary-background-color);
  border: 0.08em solid var(--nav-border-color);
  box-shadow: 0.1em 0.1em 2em var(--nav-shadow-color);
}

.flex-nav > li {
  padding: 0.45em 1.3em;
}

/* Main */
main {
  background-color: var(--primary-background-color);
  text-align: center;
}

section {
  padding: 10em 0;
}

button {
  margin-top: 1.3em;
  padding: 0.4em 1.2em;
  background-color: var(--button-background-color);
  box-shadow: 0 0.2em 0.2em var(--button-shadow-color);
  border-radius: 0.4em;
  transition: padding 800ms, box-shadow 800ms;
}

/* Footer */
.flex-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 1.3em 2em;
}

.flex-footer > li {
  padding: 0 0.5em;
}

/* Hover effects */
button:hover {
  padding: 0.4em 2em;
  box-shadow: 0 0.4em 0.4em var(--button-shadow-color);
}

a:hover {
  text-decoration: underline;
}